.h1{
    text-align: center;
}
.block-1{
    height: 900px;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: wrap;
}
.box{
    height: 300px;
    margin: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one ,.two{
    width: 300px;
}
.one{
    background-color: aquamarine;
}
.two{
    background-color: aqua;
    /*align-self: flex-start*/
}
.three, .four{
    width: 500px;
}
.three{
    background-color: blue;
}
.four{
    background-color: blueviolet;
}
p{
    font-size: 100px;
    
}

